# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

# Environnements virtuels
.venv/
venv/
env/

# Variables sensibles
.env
.env.*
!.env.example
secrets/
*.secret

# IDE
.vscode/
.idea/

# Systeme
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
logs/**
!logs/.gitkeep

# Donnees locales et volumineuses
data/raw/**
data/generated/**
data/processed/**
data/quarantine/**
data/samples/**
data/bronze/**
data/silver/**
data/gold/**
data/checkpoints/**

# Conserver les fichiers .gitkeep utiles
!data/raw/**/
!data/raw/**/.gitkeep
!data/generated/**/
!data/generated/**/.gitkeep
!data/processed/**/
!data/processed/**/.gitkeep
!data/quarantine/**/
!data/quarantine/**/.gitkeep
!data/samples/**/
!data/samples/**/.gitkeep
!data/checkpoints/**/
!data/checkpoints/**/.gitkeep

# Spark
spark-warehouse/
metastore_db/
derby.log
.checkpoints/
checkpoint/
checkpoints/

# Airflow
airflow/logs/
airflow/airflow.db
airflow/airflow.cfg
airflow/webserver_config.py

# dbt
dbt/**/target/
dbt/**/logs/
dbt/**/dbt_packages/
dbt/smartlogix/.user.yml

# Java / Spring Boot
spring-api/target/
*.jar
*.war

# React / Node
react-dashboard/node_modules/
react-dashboard/dist/
react-dashboard/build/
node_modules/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Docker
docker-data/
volumes/

# Fichiers temporaires
*.tmp
*.temp
*.bak
data/ml_train.csv
data/ml_validation.csv
data/ml_train.sql
data/ml_validation.sql
data/ml_test.csv
data/ml_test.sql
data/ml_lightgbm_test_results.json
